<section class="contact">
    <div class="container">
        <p>Chcesz pogadać? Skontaktuj się ze mną!</p>
        <a href="tel: 667-646-999">667-646-999</a>
        <a href="mailto: galdys.przemek@gmail.com">galdys.przemek@gmail.com</a>
        something new
    </div>
</section>
