<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="/" title="Front-End Developer">
        <h1 class="header__logo">Front-End Developer</h1>
      </a>
      <div>
        <a class="" href="#about">O mnie</a>
        <a class="" href="#projects">Co robię</a>
        <a class="" title="Numer kontaktowy" href="tel: 667-646-999">
          Zadzwoń do mnie ;)
        </a>
      </div>
    </div>
  </div>
</header>
