<section class="hero">
    <div class="container">
        <h2 class="hero__title">cześć!</h2>
        <h2 class="hero__subtitle">nazywam się Przemek</h2>
        <h2 class="hero__subtitle">i jestem <span>Front-End Developerem</span></h2>
    </div>
</section>
